<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
<h2>Новости</h2>
{% if request.user.is_authenticated %}
    <h3>Добро пожаловать на сайт {{ request.user.username }}</h3>
    <p><a href="{% url 'logout' %}">Выйти</a></p>
    <p><a href="{% url 'profile' %}">Личный кабинет</a></p>
    <form action="/news_add" target="_blank">
       <button>Создать новость</button>
    </form>
{% else %}
    <h3>Вы неавторизированы на нашем сайте</h3>
    <p><a href="{% url 'login' %}">Войти </a></p>
    <p><a href="{% url 'register' %}">Зарегистрироваться</a></p>
{% endif %}

{% if news_list %}
    <ul>

        {% for news in news_list %}
        <li>
            <a href="/news/{{ news.id }}" target="_blank">{{ news.title }}</a>
            <p>{{ news.created_at }}</p>
            <p>{{ news.activity }}</p>
        </li>

        {% endfor %}

    </ul>


    {% else %}
        <p>Новостей нет</p>
    {% endif %}
</body>
</html>