<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Объявления</title>
</head>
<body>
<h1>Объявления</h1>
<h2>Прошел все курсы на SkillBox. Продаю готовые домашние задания.</h2>
<ul>
        <li>
                <a class="link" href="http://127.0.0.1:8000/python_basic/" target="_blank">Python Basic</a>
        </li>
        <li>
                <a class="link" href="http://127.0.0.1:8000/git/" target="_blank">Система контроля версий Git</a>
        </li>
        <li>
                <a class="link" href="http://127.0.0.1:8000/html/" target="_blank">Веб-вёрстка. Базовый уровень.</a>
        </li>
        <li>
                <a class="link" href="http://127.0.0.1:8000/sql/" target="_blank">Язык запросов SQL</a>
        </li>
        <li>
                <a class="link" href="http://127.0.0.1:8000/english/" target="_blank">Английский для IT-специалистов</a>
        </li>
</ul>
</body>
</html>
