<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h3>Добро пожаловать на сайт, {{ request.user.first_name }}</h3>
    <p>День рождения: {{ request.user.profile.date_of_birth }}</p>
    <p>Город: {{ request.user.profile.city }}</p>
    <p>Номер скидочной карты: {{ request.user.profile.discount_card_num }}</p>
    <p>Номер телефона: {{ request.user.profile.tel_num }}</p>
{% else %}
    <h3>Вы неавторизированы на нашем сайте</h3>
    <a href="{% url 'login' %}">Войти</a>
{% endif %}
<h2>Главная страница</h2>
</body>
</html>