<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ object.title }}</title>
    </head>
    <body>
        <h1>{{ object.title }}</h1>
        <p>Цена: {{ object.price }} руб.</p>
        <p>Описание: {{ object.description }}</p>
        <p>Категория: {{ object.category }}</p>
        <p>Тип объявления: {{ object.type }}</p>
        <p>Имя продавца: {{ object.author.name }}</p>
        <p>Адрес электронной почты: {{ object.author.email }}</p>
        <p>Номер телефона: {{ object.author.phone_number }}</p>
        <p>Количество просмотров: {{ object.views_count }}</p>
    </body>
</html>