<html>
    <h1>Бесплатные объявления</h1>
    {% if advertisements %}
    <ul>

        {% for advertisement in advertisements %}
        <li>
            {{advertisement.title}} (ЦЕНА: {{advertisement.price}})
            <p>
                Дата создания: {{advertisement.created_at}}
            </p>
            <p>
                Кол-во просмотров: {{advertisement.views_count}}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Объявлений нет.</p>
    {% endif %}
</html>