<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
    <body>
        <fieldset>
            <select>
                <option>{{category1}}</option>
                <option>{{category2}}</option>
                <option>{{category3}}</option>
            </select>
            <select>
                <option>{{region1}}</option>
                <option>{{region2}}</option>
                <option>{{region3}}</option>
            </select>
            <label>Комментарии</label>
            <textarea></textarea>
            <p><input type="submit" value="Найти"></p>
        </fieldset>
    </body>
</html>